<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head', {title: 'Detalhes'}) %>
<body>
	<div>
		<h2>Detalhe do produto: NOME DO PRODUTO</h2>

		<div>
			<img src="/images/products/default-image.png" alt="product image">
			<p>DESCRICAO DO PRODUTO</p>
			
			<h2>NOME DO PRODUTO</h2>
			<p>PRECO DO PRODUTO</p>
			<a href="/products/edit/<%= product.id %>">EDITAR PRODUTO</a>
			
			<form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
				<button type="submit">APAGAR</button>
			</form>
		</div>
	</div>
</body>	
</html>